<%provide(:title,'Sign in')%>
<h1>Sign in</h1>
<div class="row col-md-9">
	<div class="form-group form-horizontal">
	<%= form_for(:session,url: sessions_path) do |f|%>
			<%=f.label :email %>
			<%= f.text_field :email, class: "form-control"%>
			<%= f.label :password%>
			<%= f.password_field :password, class: "form-control"%>
			<br>
			<%= f. submit "Sign in", class: "btn btn-large btn-primary" %>

	<%end%>
	<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>

</div>